**/.DS_Store
wnvkw Developer/advancements/**.json
wnvkw Developer/playerdata/**.dat
wnvkw Developer/playerdata/**.dat_old
wnvkw Developer/stats/**.json
wnvkw Developer/DIM-1/**
wnvkw Developer/DIM1/**
