**/.DS_Store
The Mob Fight/advancements/**.json
The Mob Fight/playerdata/**.dat
The Mob Fight/playerdata/**.dat_old
The Mob Fight/stats/**.json
The Mob Fight/DIM-1/**
The Mob Fight/DIM1/**
The Mob Fight/poi/**
The Mob Fight/level.dat_old
The Mob Fight/session.lock
The Mob Fight/.assets_helper/**
copy.bat